apiVersion: v1
kind: Service
metadata:
  name: web-server-gin-service
  namespace: go-app
spec:
  selector:
    app: web-server-gin
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 50051
      targetPort: 50051
  type: ClusterIP
